nav {
    background-color: #000; /* Black background color */
    color: #fff; /* White text color */
    padding: 10px; /* Adjust padding as needed */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
  
ul {
  list-style: none; /* Remove default list styles */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around; /* Adjust as needed */
}
  
li {
  display: inline;
}
  
a {
  text-decoration: none;
  color: #fff; /* White text color for links */
  padding: 8px 16px; /* Adjust padding as needed */
}
  
a:hover {
  color: #848484; /* Change background color on hover */
}

img {
  max-width: 40px;
  display: inline;
}
