/* HeroImage.css */

.hero-image-container {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255); /* Set the text color */
    background-color: rgb(73, 60, 0);
  }
  
  .hero-image {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
    min-width: 100%;
    background-size: cover;
    opacity: 60%;
  }


  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .hero-text p {
    font-size: 1.2rem;
  }

.button_container {
    display: flex;
    justify-content: center;
    gap: 10px;
}